@model AspNetCoreCms.Models.SitePage
@{
    ViewData["Title"] = "Add a Page";
}

<h2>@ViewData["Title"].</h2>

<form method="post" asp-action="AddPage">
    <div class="form-group">
        <label asp-for="Url"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url"></span>
    </div>
    <div class="form-group">
        <label asp-for="Heading"></label>
        <input asp-for="Heading" class="form-control" />
        <span asp-validation-for="Heading"></span>
    </div>
    <button type="submit" class="btn btn-default">Create Page</button>
</form>